@*PersonCardComponent*@
@using BlazorMovie.Models.Credits
@using BlazorMovie.Components.UIComponents.PropertyComponents

 @inject NavigationManager _navManager

@if (Person != null)
{
    <div class="card h-100 fade-in shadow p-3 mb-5 bg-body-tertiary rounded position-relative card-hover">

        <ProfileImageComponent ProfilePath="@Person.ProfilePath" />

        <div class="card-body border-top bg-light d-flex flex-column">
            <h5 class="card-title">@Person.Name</h5>
            <p class="card-text">@SubText</p>
            <div class="flex-grow-1"></div>
            Cast Id: @Person.Id
            <button class="btn cardBtn"
                        @onclick="() => NavigateToDetails(Person.Id)">
                    More Details
                </button>
        </div>
        
    </div>
}
else
{
    <div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">

        <ProfileImageComponent ProfilePath="@null" />

        <div class="card-body border-top bg-lightd-flex flex-column ">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-8"></span>
            </p>
        </div>
    </div>
}

@code {
    [Parameter]
    public Person? Person { get; set; }


    [Parameter]
    public string SubText { get; set; } = string.Empty;


    private void NavigateToDetails(int personId)
    {
        _navManager.NavigateTo($"/person/{personId}");
    }
}
